<style>
    .mar{
        margin-top: 3.85%;
            
    }
  h7{
    text-align: center; 
    
  }
</style>
<%if(success && success.length){%>
    <div class="d-flex p-2 bg-blue fg-white mar"><h7><%= success %></h7></div>
    
    
    
    
 
<%}%>
