<style>
.feet{
    margin-top: 100%;
}
.k{
    margin-left:-85%;
}
</style>
<footer class="feet">
<div class="bottom-nav pos-absolute bg-dark fg-white">
    <p class="k"><b>yelpCamp 2023<sup>&#169;</sup></b></p>
</div>
</footer>