<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YelpCamp</title>
    <link rel="stylesheet" href="https://cdn.korzh.com/metroui/v4/css/metro-all.min.css">
</head>
<body class="bg-dark text-center fg-white">
<style>
    body{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background-image: url(https://images.alphacoders.com/129/1294371.jpg);
        background-size:cover;
        background-position: center;
    }@media ( max-width: 1000px){
       body{
        width: fit-content;
       }
         
    }

</style>
<%-include("./partials/navbar")%>
<h1>YelpCamp</h1><br><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis eum et tempora alias ad neque, quaerat doloribus quisquam ullam incidunt harum temporibus id, atque repellat perspiciatis minus beatae facilis veniam?</p>
<form action="/campground">
<button  class="button secondary ">Campgrounds</button>
</form>

    <script src="https://cdn.korzh.com/metroui/v4/js/metro.min.js"></script>
</body>
</html>