<%layout("./styeling/boilerplate")%>
<h1>Login</h1>
<form action="/login" method="POST" data-role="validator">
    <p>Username</p>
    <input type="text" data-role="input" data-validate="required" name="username"/>
    <span class="invalid_feedback">
      Create A Username
  </span>
    <p>Password</p>
    <input type="password" data-role="input"data-validate="required" name="password"/>
    <span class="invalid_feedback">
      Create A Password
  </span>
    

    


    <div class="card-footer">
      <button class="button secondary">Login</button>
</form>